<a href="https://colab.research.google.com/github/iamsaptorshe07/Data-Science-Machine-Learning-Data-Analysis/blob/master/Feature_Scaling_Normalization_vs_Standardization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
file = 'Wine.csv'
df = pd.read_csv(file)
df.head(5)

   1  14.23  1.71  2.43  15.6  127  ...   .28  2.29  5.64  1.04  3.92  1065
0  1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
1  1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
2  1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
3  1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735
4  1  14.20  1.76  2.45  15.2  112  ...  0.34  1.97  6.75  1.05  2.85  1450

[5 rows x 14 columns]

In [0]:
new_df = df.iloc[:,0:3]

In [19]:
new_df.head()

   1  14.23  1.71
0  1  13.20  1.78
1  1  13.16  2.36
2  1  14.37  1.95
3  1  13.24  2.59
4  1  14.20  1.76

In [0]:
new_df.columns=['Class','Alcohol','Malic']

In [21]:
new_df.head()

   Class  Alcohol  Malic
0      1    13.20   1.78
1      1    13.16   2.36
2      1    14.37   1.95
3      1    13.24   2.59
4      1    14.20   1.76

**MIN MAX SCALER - NORMALIZATION**

---

In [0]:
# performing min max scaler or normalization operation
'''
MinMaxScaler (feature_range=(0, 1), copy=True)[source] Transform features by scaling each feature to a given range. 
This estimator scales and translates each feature individually such that it is in the given range on the training set, 
e.g. between zero and one
'''
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()

In [23]:
#Transforming the feature using normalization technique
scaling.fit_transform(new_df[['Alcohol','Malic']])

array([[0.57105263, 0.2055336 ],
       [0.56052632, 0.3201581 ],
       [0.87894737, 0.23913043],
       [0.58157895, 0.36561265],
       [0.83421053, 0.20158103],
       [0.88421053, 0.22332016],
       [0.79736842, 0.27865613],
       [1.        , 0.17786561],
       [0.74473684, 0.12055336],
       [0.80789474, 0.28063241],
       [0.81315789, 0.14624506],
       [0.71578947, 0.19565217],
       [0.97894737, 0.19565217],
       [0.88157895, 0.22332016],
       [0.68421053, 0.21146245],
       [0.86052632, 0.23320158],
       [0.73684211, 0.16403162],
       [0.83157895, 0.16798419],
       [0.68684211, 0.46640316],
       [0.79736842, 0.17588933],
       [0.5       , 0.60474308],
       [0.70526316, 0.22134387],
       [0.47894737, 0.16996047],
       [0.65      , 0.21146245],
       [0.53157895, 0.25889328],
       [0.62105263, 0.20355731],
       [0.59736842, 0.19367589],
       [0.74736842, 0.22924901],
       [0.78684211, 0.18577075],
       [0.71052632, 0.15019763],
       [0.67105263, 0.18181818],
       [0.69736842, 0.21541502],
       [0.71842105, 0.15612648],
       [0.65263158, 0.20948617],
       [0.64473684, 0.21146245],
       [0.59210526, 0.17786561],
       [0.53157895, 0.1798419 ],
       [0.53684211, 0.15019763],
       [0.83947368, 0.64229249],
       [0.66578947, 0.1916996 ],
       [0.62631579, 0.61264822],
       [0.75      , 0.22727273],
       [0.58157895, 0.64031621],
       [0.53157895, 0.20355731],
       [0.83684211, 0.65217391],
       [0.88157895, 0.56324111],
       [0.75526316, 0.18577075],
       [0.80789474, 0.25296443],
       [0.76578947, 0.19565217],
       [0.53157895, 0.19565217],
       [0.73684211, 0.1798419 ],
       [0.73421053, 0.19960474],
       [0.72105263, 0.22924901],
       [0.71315789, 0.18379447],
       [0.66578947, 0.19565217],
       [0.83947368, 0.18972332],
       [0.59473684, 0.243083  ],
       [0.70789474, 0.13636364],
       [0.35263158, 0.03952569],
       [0.34210526, 0.07114625],
       [0.42368421, 0.12252964],
       [0.69473684, 0.10079051],
       [0.35263158, 0.0770751 ],
       [0.3       , 0.14031621],
       [0.35263158, 0.09288538],
       [0.54736842, 0.05335968],
       [0.35263158, 0.08498024],
       [0.60789474, 0.03952569],
       [0.31052632, 0.08893281],
       [0.33157895, 0.17193676],
       [0.74473684, 0.15217391],
       [0.64736842, 0.18181818],
       [0.51578947, 0.18379447],
       [0.24473684, 0.06916996],
       [0.16578947, 0.22529644],
       [0.52631579, 0.03162055],
       [0.21315789, 0.42490119],
       [0.34210526, 0.04940711],
       [0.43947368, 0.61857708],
       [0.25526316, 0.03557312],
       [0.44473684, 0.21146245],
       [0.27631579, 0.0770751 ],
       [0.53157895, 0.61660079],
       [0.21315789, 0.02964427],
       [0.43157895, 0.04743083],
       [0.29736842, 0.17193676],
       [0.16315789, 0.18379447],
       [0.16052632, 0.26086957],
       [0.27631579, 0.11660079],
       [0.27631579, 0.21541502],
       [0.25526316, 0.15217391],
       [0.43684211, 0.15612648],
       [0.33157895, 0.41304348],
       [0.15526316, 0.24703557],
       [0.37894737, 0.1541502 ],
       [0.20526316, 0.27272727],
       [0.33157895, 0.13241107],
       [0.35263158, 0.06521739],
       [0.33157895, 0.48023715],
       [0.27631579, 0.26482213],
       [0.41315789, 0.11857708],
       [0.34473684, 0.33794466],
       [0.20789474, 0.19367589],
       [0.38947368, 0.19565217],
       [0.36578947, 0.35770751],
       [0.32105263, 0.19565217],
       [0.44473684, 0.19960474],
       [0.31315789, 0.10869565],
       [0.15263158, 0.12055336],
       [0.11315789, 0.59288538],
       [0.39210526, 0.33399209],
       [0.19210526, 0.38339921],
       [0.1       , 0.        ],
       [0.27631579, 0.1284585 ],
       [0.        , 0.15217391],
       [0.20789474, 0.14426877],
       [0.36578947, 0.17193676],
       [0.45789474, 0.53162055],
       [0.25526316, 0.53162055],
       [0.11052632, 0.32806324],
       [0.13947368, 0.25889328],
       [0.36578947, 0.72924901],
       [0.53157895, 1.        ],
       [0.22105263, 0.7055336 ],
       [0.27368421, 0.28063241],
       [0.36842105, 0.15612648],
       [0.2       , 0.27470356],
       [0.35263158, 0.17588933],
       [0.26578947, 0.70355731],
       [0.48157895, 0.12055336],
       [0.48684211, 0.44466403],
       [0.46842105, 0.31027668],
       [0.43947368, 0.55533597],
       [0.38947368, 0.09881423],
       [0.41315789, 0.33992095],
       [0.32105263, 0.78656126],
       [0.39473684, 0.94268775],
       [0.64736842, 0.56324111],
       [0.47631579, 0.43873518],
       [0.5       , 0.40909091],
       [0.61315789, 0.35968379],
       [0.65526316, 0.48023715],
       [0.68157895, 0.83201581],
       [0.32105263, 0.62055336],
       [0.56052632, 0.55928854],
       [0.75      , 0.84980237],
       [0.48421053, 0.76482213],
       [0.60263158, 0.49407115],
       [0.53947368, 0.62450593],
       [0.65      , 0.47035573],
       [0.46315789, 0.38142292],
       [0.54736842, 0.22924901],
       [0.57894737, 0.50592885],
       [0.40789474, 0.10869565],
       [0.56315789, 0.87944664],
       [0.73947368, 0.66798419],
       [0.37368421, 0.45256917],
       [0.87105263, 0.18577075],
       [0.64473684, 0.18379447],
       [0.35      , 0.61067194],
       [0.7       , 0.49802372],
       [0.47894737, 0.5       ],
       [0.50789474, 0.53557312],
       [0.72368421, 0.39920949],
       [0.71052632, 0.71541502],
       [0.63684211, 0.58498024],
       [0.47105263, 0.51976285],
       [0.67105263, 0.36363636],
       [0.62368421, 0.76284585],
       [0.30789474, 0.45256917],
       [0.45789474, 0.32608696],
       [0.82368421, 0.34980237],
       [0.70526316, 0.97035573],
       [0.62368421, 0.62648221],
       [0.58947368, 0.69960474],
       [0.56315789, 0.36561265],
       [0.81578947, 0.66403162]])

**Standardization - (Z Score Normalization)**

---

In [0]:
# Importing standardization library
# StandardScaler makes the mean of the distribution 0. About 68% of the values will lie be between -1 and 1.
from sklearn.preprocessing import StandardScaler
scaling = StandardScaler()

In [0]:
new_df[['Alcohol','Malic']] = scaling.fit_transform(new_df[['Alcohol','Malic']])

In [28]:
new_df.head()

   Class   Alcohol     Malic
0      1  0.255824 -0.501624
1      1  0.206229  0.018020
2      1  1.706501 -0.349315
3      1  0.305420  0.224086
4      1  1.495719 -0.519543

<h1> When Feature Scaling should be performed ? </h1>
<p>Scaling should be performed wherever the concept of Eucledian or man haten distance or the concept of gadient descent comes into the context.  </P>
<h4>Some of the Algorithms where scaling must be performed : </h4>
<ul>
<li>KNN</li>
<li>K means clustering</li>
<li>Regression - not all the time needed</li>
<li>Image processing etc</li>
</ul>
<h4>Some of the Algorithms where scaling is not needed: </h4>
<ul>
<li>Decsion Tree</li>
<li>Random forest</li>
</ul>